/* Error: This at-rule is not allowed here.
 *   ,
 * 2 | @use 'globals' as *;
 *   | ^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\_brand.scss 2:1  @use
 *   assets\scss\main.scss 32:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This at-rule is not allowed here.\a   \2577 \a 2 \2502  @use 'globals' as *;\d\a   \2502  ^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\_brand.scss 2:1  @use\a   assets\\scss\\main.scss 32:1   root stylesheet";
}
